<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Error</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>4xx Error

<ul>
<li>timestamp = [[${timestamp}]]
<li>status = [[${status}]]
<li>error = [[${error}]]
<li>exception = [[${exception}]]
<li>message = [[${message}]]
<li>errors = 
	<ul>
        <li th:each="error : ${errors}">[[${error}]]
    </ul>
<li>trace = [[${trace}]]
<li>path = [[${path}]]
</ul>

</body>
</html>