<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">

<head>
<title>Hello</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body layout:fragment="content">
	Hello
	
	<form th:action="@{/hello}" method="post">
		<button name="post">Post</button>
	</form>
	
	<ul>
		<li><a th:href="@{/hello4}">hello4 (api2/hello)</a>
		<li><a th:href="@{/hello5}">hello5 (api2/hello2)</a>
		<li><a th:href="@{/hello11}">hello11</a>
		<li><a th:href="@{/hello12}">hello12</a>
		<li><a th:href="@{/hello21}">hello21</a>
		<li><a th:href="@{/hello22}">hello22</a>
	</ul>
	
	
	<form th:action="@{/logout}" method="post">
		<button>ログアウト</button>
	</form>
</body>
</html>